body {
    background-color: #a9bcf7;
    font-family: consolas;
}

a {
    color: lightsteelblue;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #55b;
    width: 200px;
    margin-right: 10px;
    padding: 4px;
}